.weather-app-container {
    font-family: "sans-serif"; 
    padding: "20px"; 
    margin-left: "auto"; 
    margin-right: "auto"; 
    text-align: "center"; 
    background-color: "#05ccdeff"; 
    border-radius: "10px"; 
    width: "300px"; 
    margin-top: "50px"; 
    box-shadow: "5px 4px 10px rgba(0, 0, 0, 0.5)";
}

.weather-app-container input {
    margin-top: "20px"; 
    padding: "5px"; 
    border-radius: "3px"; 
    border: "1px solid #ccc"; 
    width: "200px"; 
    text-align: "center";
}

.weather-app-container button {
    padding: "4px"; 
    margin-left: "5px";
}

.weather-info {
    margin-top: "50px"; 
    margin-left: "auto"; 
    margin-right: "auto"; 
    padding: "15px"; 
    border: "1px solid #ccc"; 
    border-radius: "10px"; 
    width: "250px"; 
    background-color: "#f9f9f9";
}

