.weather-app-container {
    margin: 50px auto;
    font-family: sans-serif; 
    padding: 20px;
    text-align: center; 
    background-color: #05ccdeff; 
    border-radius: 10px; 
    width: 90vw;
    max-width: 700px;;
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.5);
}

.weather-app-container button {
    margin-right: 50px;
}

.city {
    margin-right: 10px;
    margin-bottom: 10px;;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 300px;
}

.weather-card {
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    width: 180px;
    background-color: #f0f8ff;
    text-align: center;
}

